* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(./img/benjamin-voros-phIFdC6lA4E-unsplash.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
a {
  text-decoration: none;
}
header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.logo {
  margin-left: 10px;
  font-size: 40px;
  letter-spacing: -3%;
  color: white;
}
nav {
  list-style: none;
}
nav li {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  position: relative;
}
nav li a {
  text-decoration: none;
  color: white;
}
nav a:hover {
  color: white;
}
nav a::before {
  content: "";
  display: block;
  height: 3px;
  width: 73%;
  background-color: white;
  position: absolute;
  bottom: -2px;
  width: 0%;
  transition: all ease-in-out 250ms;
}
nav a:hover::before {
  width: 73%;
  border-radius: 20px;
}
button {
  font-weight: 600;
  color: white;
  font-size: 16px;
  letter-spacing: -3%;
  text-transform: uppercase;
  padding: 16px 8px;
  border-radius: 10px;
  border: none;
  border: 2px solid white;
  background: transparent;
  text-decoration: none;
}
.content1 {
  text-align: center;
  margin-top: 170px;
  color: white;
  font-weight: 600;
  letter-spacing: -3%;
  font-size: 60px;
}
.content2 {
  text-align: center;
  margin-top: 20px;
  color: white;
  font-weight: 400;
  letter-spacing: 2%;
  font-size: 32px;
}
